body {
  font-family: Arial, sans-serif;
  background-image: url('https://media.giphy.com/media/joYf3Ba2phD15ch9Nt/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 200px;
  background-colour: blue;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {background:blue; left:100px; top:0px;}
  25% {background:#0042a9; left:830px; top:0px;}
  50% {background:blue; left:830px; top:500px;}
  75% {background:#0042a9; left:50px; top:500px;}
  100% {background:blue; left:50px; top:0px;}
}


form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="submit"] {
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #00698C;
}

datalist {
  margin-bottom: 20px;
}

/* Optional styles for the refresh pages */
.refresh {
  text-align: center;
  margin: 40px 0;
  font-size: 24px;
  font-weight: bold;
  color: #008CBA;
}


.contacts {
  margin: auto;
  font-size: 24px;
  font-colour: black;
  background-color: white;
  max-width:500px;
  text-align: center;
  justify-content: center;
}

.text {
  text-align:center;
  
}