<!DOCTYPE html>
<html>
  <head>
    <title>SavingWorld1114</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style.css') }}" />
  </head>
  <body>
    <h1>Good morning!</h1>
    {% if intro  %}
    <p>{{ intro }}</p>
    {% endif %}
    <form method="post">
      <input type="text" name="data"/>
      <input type="submit" value='Give me your data'/>
    </form>
{% if data %}
{{ data }}
{% endif %}

{% for num in nums %}
<h3>{{ num }}</h3>
{% endfor %}
  </body>
</html>